{% extends 'layout.html' %} {% block body %}


<div class="container">
<br />
<h1>Documentation</h1>

<ul class="list-group">
  <li class="list-group-item">
      <a href="/static/releases/2.5.1/docs/OSKAR-2.5-Apps.pdf"
         download="OSKAR-2.5-Apps.pdf">Applications</a>
  </li>
  <li class="list-group-item">
      <a href="/static/releases/2.5.1/docs/OSKAR-2.5-Example.pdf"
         download="OSKAR-2.5-Examples.pdf">Examples</a>
  </li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
</div>


{% endblock %}
