<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #131339;">

  <a class="navbar-brand" href="/">
    OSKAR Simulator
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link active" href="/">
                <i class="fas fa-home"></i>
            Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="/start">
<i class="fas fa-info-circle"></i>
              Getting Started</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="/documentation">
          <i class="fas fa-file-alt"></i>
          Documentation</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/faq">
<i class="fas fa-question-circle"></i>
            FAQ</a>
      </li>

      <!-- Downloads & Releases -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/downloads" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-download"></i>
          Downloads
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">

          <!-- <div class="dropdown-divider"></div> -->

          <h6 class="dropdown-header">Releases:</h6>
          {% for release in data['releases'].keys() %}
          <a class="dropdown-item" href="/releases/{{ release }}">OSKAR-{{ release }}</a>
          {% endfor %}


          <h6 class="dropdown-header">Data:</h6>
          <a class="dropdown-item" href="/data/telescopes">Telescope Models</a>
          <a class="dropdown-item" href="/data/sky">Sky Models</a>
          <a class="dropdown-item" href="/data/scripts">Scripts</a>

        </div>
      </li>

      <!-- <button class="btn btn-danger navbar-btn">Button</button> -->

    </ul>

  </div>
</nav>
