<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='icon' href='/static/favicon.ico' type='image/x-icon' />

    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">

    <script type="text/javascript"> (function() {
        var css = document.createElement('link');
        css.href = '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css';
        css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();
    </script>

    <title>OSKAR</title>
</head>

<body>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          {% include 'nav.html' %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>

  <br/>
  <br/>
  <br/>

  <footer class="bd-footer ">
    <div class="container text-muted">
        <hr>
        <p class="text-right">OSKAR has been developed at the
            <a href="http://www.oerc.ox.ac.uk/">OeRC</a> under and is
             licensed under the terms of the 3-clause BSD License.</p>
        <a href="https://github.com/OxfordSKA/OSKAR">
            <p class="text-right">
            <i class="fab fa-github"></i> OSKAR GitHub</p>
        </a>
      <hr>
    </div>
  </footer>




    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- <script src="/static/js/jquery-3.3.1.min.js"></script> -->
    <!-- <script src="/static/js/popper.min.js"></script> -->
    <!-- <script src="/static/js/bootstrap.js"></script> -->

    <!-- <script>
$(".nav-pills .nav-item .nav-link:not(.nav-pills .nav-item.dropdown .nav-link), .dropdown-item").click(function()
    {
        $(".dropdown-item.active").removeClass('active');
    });
</script> -->

    <!-- <script>
$(document).ready(function () {
        $('ul.nav > li').click(function (e) {
            e.preventDefault();
            $('ul.nav > li').removeClass('active');
            $(this).addClass('active');
        });
    });
</script> -->

    <!-- <script defer>
( function ($) {
    		  var activenav, matches = document.body.className.match(/(^|\s)page-(\w+)(\s|$)/);
		  if (matches) { activenav = matches[2]; }
		  $(".navbar-nav .nav-item").each( function () {
			  if( $(this).hasClass(activenav) ) {
				  $(this).addClass('active').find(".nav-link").append(" <span class='sr-only'>(current)></span>");
			  }
		  });
		  $(".navbar-nav .dropdown-item").each( function () {
			  if( $(this).hasClass(activenav) ) {
				  $(this).addClass('active').append(" <span class='sr-only'>(current)></span>");
			  }
		  });


})(jQuery)
</script> -->


    <!-- Attempt to change the active menu item ... -->
    <!-- At the moment this seems not to stick after the new page loads  -->
    <!-- This should be included after jquery -->
    <!-- <script>
$(".nav-link").on("click", function () {
$(".nav-link").find(".active").removeClass("active");
$(this).addClass("active");
// $(this).hide()
// console.log($(this).html())
});
</script> -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>


</body>

</html>
