<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #131339;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    OSKAR Simulator
  </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class={% if request.path=="/" %} "nav-link active"{% else %} "nav-link"{% endif%} href="/">
                <i class="fas fa-home"></i>
            Home
          <span class="sr-only">(current)</span>
        </a>
        </li>

        <li class="nav-item">
          <a class={% if request.path=="/start" %} "nav-link active"{% else %} "nav-link"{% endif%} href="/start">
<i class="fas fa-info-circle"></i>
              Getting Started</a>
        </li>

        <li class="nav-item">
          <a class={% if request.path=="/documentation" %} "nav-link active"{% else %} "nav-link"{% endif%} href="/documentation">
          <i class="fas fa-file-alt"></i>
          Documentation</a>
        </li>

        <li class="nav-item">
          <a class={% if request.path=="/faq" %} "nav-link active"{% else %} "nav-link"{% endif%} href="/faq">
<i class="fas fa-question-circle"></i>
            FAQ</a>
        </li>

        <!-- Downloads & Releases -->
        <li class="nav-item dropdown">
            {% if 'downloads' in request.path %}
            <a class="nav-link dropdown-toggle active" href="/downloads" id="dropdown01"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% else %}
            <a class="nav-link dropdown-toggle" href="/downloads" id="dropdown01"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% endif %}

            <i class="fas fa-download"></i>
          Downloads
        </a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">

            <h6 class="dropdown-header">Releases:</h6>
            {% for release in data['releases'].keys() %}
            {% if release in request.url %}
            <a class="dropdown-item active" href="/downloads/{{ release }}">OSKAR-{{ release }}</a>
            {% else %}
            <a class="dropdown-item" href="/downloads/{{ release }}">OSKAR-{{ release }}</a>
            {% endif %}
            {% endfor %}

            <!-- <div class="dropdown-divider"></div> -->

            <h6 class="dropdown-header">Data:</h6>

            {% if 'telescopes' in request.url %}
            <a class="dropdown-item active" href="/downloads/telescopes">Telescope Models</a>
            {% else %}
            <a class="dropdown-item" href="/downloads/telescopes">Telescope Models</a>
            {% endif %}

            {% if 'sky' in request.url %}
            <a class="dropdown-item active" href="/downloads/sky">Sky Models</a>
            {% else %}
            <a class="dropdown-item" href="/downloads/sky">Sky Models</a>
            {% endif %}

            {% if 'scripts' in request.url %}
            <a class="dropdown-item active" href="/downloads/scripts">Scripts</a>
            {% else %}
            <a class="dropdown-item" href="/downloads/scripts">Scripts</a>
            {% endif %}
          </div>


        </li>

      </ul>

    </div>
  </div>
</nav>
